{% extends 'core/base.html' %}
{% block content %}
<div class="mt-3 container">
    <h1 class="heading border-bottom border-info mb-5">SERVICES</h1>

    <!-- first row  -->
    <div class="row  text-center mb-3 text-dark">
        <div class="col-sm-4">
            <i class="fa fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">The good ranking of your site on any search engine websites can guarantee you high conversion rates.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
    </div>

    <!-- Second row -->
    <div class="row  text-center mb-3 text-dark">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h3>Android</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            <h3>ios</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-ad fa-2x mb-3 i-color"></i>
            <h3>Adversing</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
    </div>

    <!-- Third row -->
    <div class="row  text-center mb-3 text-dark">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h3>logo design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dignissimos sunt alias?</p>
        </div>
    </div>

</div>

{% endblock content %}
